body {
  max-width: 1024px;
  margin: 2rem;
}

.todo-list {
  display: flex;
  list-style-type: none;
  flex-flow: row wrap;
  margin: 0 auto;
  width: 80%;
  justify-content: space-between;
}

.todo-item {
  width: 100%;
  box-shadow: 5px 10px 6px -8px #a7a7a7;
  text-align: center;
  border-radius: 2px;
}

.urgent {
  box-shadow: 5px 10px 6px -8px #f30606c5;
}
